<template>
    <NoSSR>
        <div class="brands">
            <div class="container">
                <carousel v-bind="config">
                    <slide  v-for="slide in slides">
                        <img :src="slide.image" :alt="slide.title">
                    </slide>
                </carousel>
            </div>

        </div>
    </NoSSR>

<!--    <div class="brands">-->
<!--        <img src="/assets/Layer_30.png" alt="alt">-->
<!--        <img src="/assets/Layer_31.png" alt="alt">-->
<!--        <img src="/assets/Layer_33.png" alt="alt">-->
<!--        <img src="/assets/Layer_34.png" alt="alt">-->
<!--        <img src="/assets/Layer_50.png" alt="alt">-->
<!--    </div>-->
</template>

<script>
    import NoSSR from 'vue-no-ssr'
    import sliderData from 'theme/resource/brands-sliders.json'

    export default {
        name: "Brands",
        data(){
            return {
                config: sliderData.config || {},
                slides: sliderData.slides || []
            }
        },
        components: {
            'Carousel': () => import('vue-carousel').then(Slider => Slider.Carousel),
            'Slide': () => import('vue-carousel').then(Slider => Slider.Slide),
            NoSSR
        }
    }
</script>

<style lang="scss" scoped>
    .brands{
        border-top: 2px solid #c6c6c6;
        box-sizing: border-box;
        display: block;
        padding: 40px calc(50% - 640px);

        img{
            width: 100%;
            max-height: 40px;
            object-fit: contain;
        }

        @media (max-width: 1310px) {
            padding: 15px;
        }

    }
</style>
