<template>
    <footer :class="{ 'brdr-top-1 brdr-cl-secondary': isCheckoutPage }">
        <Brands/>
        <div
            class="footer-links py20"
            v-if="!isCheckoutPage"
        >

            <div class="column no-mobile">
                <h3>
                    {{ $t('Orders') }}
                </h3>
                <div class="mt15">
                    <router-link v-show="isLogged" class="cl-white" :to="localizedRoute('/my-account')" exact>
                        {{ $t('My account') }}
                    </router-link>
                    <a v-show="!isLogged" class="cl-white" href="#" @click.prevent="goToAccount">
                        {{ $t('My account') }}
                    </a>
                </div>
                <div class="mt15">
                    <router-link class="cl-white" :to="localizedRoute('/delivery')" exact>
                        {{ $t('Delivery') }}
                    </router-link>
                </div>
                <div class="mt15">
                    <router-link class="cl-white" :to="localizedRoute('/returns')" exact>
                        {{ $t('Return policy') }}
                    </router-link>
                </div>
            </div>
            <div class="column no-mobile">
                <h3>
                    {{ $t('Help') }}
                </h3>
                <div class="mt15">
                    <router-link class="cl-white" :to="localizedRoute('/customer-service')" exact>
                        {{ $t('Customer service') }}
                    </router-link>
                </div>
                <div class="mt15">
                    <router-link class="cl-white" :to="localizedRoute('/size-guide')" exact>
                        {{ $t('Size guide') }}
                    </router-link>
                </div>
                <div class="mt15">
                    <router-link class="cl-white" :to="localizedRoute('/contact')" exact>
                        {{ $t('Contact us') }}
                    </router-link>
                </div>
            </div>
            <div class="column no-mobile">
                <h3>
                    {{ $t('About us') }}
                </h3>
                <div class="mt15">
                    <router-link class="cl-white" :to="getLinkFor('/about-us')" exact>
                        {{ $t('About us (Magento CMS)') }}
                    </router-link>
                </div>
                <div class="mt15">
                    <router-link class="cl-white" :to="getLinkFor('/customer-service')" exact>
                        {{ $t('Customer service (Magento CMS)') }}
                    </router-link>
                </div>
                <div class="mt15">
                    <router-link class="cl-white" :to="localizedRoute('/store-locator')" exact>
                        {{ $t('Store locator') }}
                    </router-link>
                </div>
            </div>
            <div class="column">
                <h3 class="no-mobile">
                    {{ $t('Newsletter') }}
                </h3>
                <newsletter class="no-mobile" v-if="!isCheckoutPage" />
                <div class="social mt30">
                    <div class="social-wrap">
                        <a
                            class="mx10 no-underline no-mobile"
                            href="https://www.facebook.com/"
                            :aria-label="$t('Go to Facebook')"
                        >
                            <img src="/assets/smartportofoon.webp" alt="">
                        </a>
                        <a
                            class="mx10 no-underline no-desktop"
                            href="https://www.facebook.com/"
                            :aria-label="$t('Go to Smartportofoon')"
                        >
                            <img width="40" height="40" src="/assets/smartportofoon.webp" alt="">
                        </a>
                        <a
                            class="social-icon mx10 brdr-circle no-underline"
                            href="https://www.facebook.com/"
                            :aria-label="$t('Go to Facebook')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 455 455" width="40" height="40" fill="#fff" stroke="#fff" stroke-width="0"><path d="M0 0v455h455V0H0zm301.004 125.217H265.44c-7.044 0-14.153 7.28-14.153 12.696v36.264h49.647c-1.999 27.807-6.103 53.235-6.103 53.235h-43.798V385h-65.266V227.395h-31.771v-53.029h31.771V131.01c0-7.928-1.606-61.009 66.872-61.009h48.366v55.216z" fill-rule="evenodd" clip-rule="evenodd" stroke="none"/></svg>
                        </a>
                        <a
                            class="social-icon mx10 no-underline"
                            href="https://twitter.com"
                            :aria-label="$t('Go to Youtube')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#fff" stroke="#fff" stroke-width="0" viewBox="0 0 455 455"><defs/><path fill-rule="evenodd" stroke="none" d="M0 0v455h455V0H0zm352.751 163.259c.123 2.773.186 5.561.186 8.36 0 85.403-65.002 183.876-183.873 183.876-36.496 0-70.466-10.697-99.065-29.037 5.056.601 10.199.907 15.417.907 30.278 0 58.143-10.331 80.262-27.668-28.28-.519-52.148-19.204-60.373-44.88a64.403 64.403 0 0012.161 1.163c5.894 0 11.604-.794 17.027-2.268-29.563-5.939-51.841-32.057-51.841-63.368 0-.273 0-.544.006-.814a64.366 64.366 0 0029.271 8.084c-17.342-11.589-28.748-31.371-28.748-53.79 0-11.845 3.187-22.945 8.751-32.492 31.873 39.101 79.493 64.828 133.203 67.526a64.831 64.831 0 01-1.677-14.729c0-35.688 28.938-64.623 64.626-64.623 18.589 0 35.385 7.847 47.173 20.406a129.352 129.352 0 0041.038-15.681c-4.824 15.092-15.071 27.754-28.415 35.754 13.074-1.563 25.528-5.038 37.118-10.178-8.662 12.959-19.618 24.342-32.247 33.452z" clip-rule="evenodd"/></svg>                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="copywrite">
            ©Portofoonweb.nl 2017 All rights reserved.
        </div>

        <back-to-top bottom="20px" right="20px" visibleoffset="200">
            <button type="button" class="btn-top button no-outline brdr-none cl-white bg-cl-mine-shaft :bg-cl-th-secondary py10 px10">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                    <path d="M23.245 20l-11.245-14.374-11.219 14.374-.781-.619 12-15.381 12 15.391-.755.609z" fill="white" />
                </svg>
            </button>
        </back-to-top>
    </footer>
</template>

<script>
    import { mapGetters } from 'vuex'
    import { currentStoreView, localizedRoute } from '@vue-storefront/core/lib/multistore'
    import CurrentPage from 'theme/mixins/currentPage'
    import LanguageSwitcher from 'theme/components/core/LanguageSwitcher.vue'
    import Newsletter from './Newsletter'
    import BackToTop from 'theme/components/core/BackToTop'
    import { getPathForStaticPage } from 'theme/helpers'
    import config from 'config'
    import Brands from 'theme/components/theme/Brands';

    export default {
        mixins: [CurrentPage],
        name: 'MainFooter',
        methods: {
            goToAccount () {
                this.$bus.$emit('modal-toggle', 'modal-signup')
            },
            getLinkFor (path) {
                return localizedRoute(getPathForStaticPage(path))
            }
        },
        computed: {
            ...mapGetters({
                isLogged: 'user/isLoggedIn'
            }),
            multistoreEnabled () {
                return config.storeViews.multistore
            },
            getVersionInfo () {
                return `v${process.env.__APPVERSION__} ${process.env.__BUILDTIME__}`
            }
        },
        components: {
            Newsletter,
            LanguageSwitcher,
            BackToTop,
            Brands
        }
    }
</script>

<style lang="scss" scoped>
    @import '~theme/css/variables/colors';
    @import '~theme/css/helpers/functions/color';
    $color-secondary: color(white);

    .icon {
        transition: 0.3s all;
    }


    .social-icon {
        width: 40px;
        height: 40px;
        &:hover,
        &:focus,
        &:active {
            .icon {
                fill: $color-secondary;
            }
        }
    }

    .footer-links{
        background-color: color(dove-gray);
        color: color(white);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr minmax(360px, 1fr);
        grid-column-gap: 50px;
        padding-left: calc(50% - 640px);
        padding-right: calc(50% - 640px);
        box-sizing: border-box;

        @media (max-width: 1310px) {
            padding-left: 15px;
            padding-right: 15px;
        }

        h3{
            text-transform: uppercase;
            font-weight: 500;
            font-family: inherit;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    .links {
        list-style-type: none;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .bottom-links {
        @media (max-width: 767px) {
            padding: 0;
        }
    }

    .footer__version-info {
        display: flex;
        color: $color-secondary;
        font-size: 0.7rem;
        @media (min-width: 768px) {
            margin-right: 1rem;
            font-size: 0.8rem;
        }
    }

    .underline {
        &:hover {
            color: $color-secondary;
            &:after {
                background-color: $color-secondary;
            }
        }
    }
    .legal-entity-link {
        text-align: center;
        @media (min-width: 768px) {
            display: none;
        }
    }

    .privacy-policy-link {
        text-align: right;
        @media (min-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 1024px) and (min-width: 596px){
        .footer-links{
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            grid-row-gap: 30px;

            .column:last-of-type{
                justify-content: center;
                text-align: center;
                grid-column: 1/4;
            }
        }
    }

    @media (max-width: 595px) {
        .no-mobile {
            display: none;
        }

        .footer-links{
            grid-template-columns: 1fr;
        }

        .social {
            margin-top: 0;
            width: 100%;

            .social-wrap{
                display: grid;
                width: 100%;
                grid-template-columns: auto auto auto;
                justify-items: center;
                justify-self: center;
                justify-content: center;
                grid-column-gap: 20px;
            }

            img{
                object-fit: cover;
                object-position: left top;
            }
        }

        .footer-links {
            padding-bottom: 30px;
        }
    }

    @media (min-width: 596px) {
        .no-desktop{
            display: none;
        }
    }

    .copywrite{
        text-align: center;
        color: color(white);
        background: color(atlantis);
        font-size: 18px;
        padding: 5px 15px;
    }
</style>
