<template>
    <form @submit.prevent="subscribe" novalidate>
        <legend>{{$t('Would you like to be kept informed of the latest Techniques & Offers in the field of Walkie-talkies')}}</legend>

        <ValidationMessages class="validation-text" :validations="[
              {
                condition: $v.email.$error && !$v.email.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.email.email && $v.email.$error,
                text: $t('Please provide valid e-mail address.')
              }
            ]" >

        </ValidationMessages>

        <input
            type="email"
            v-model="email"
            :placeholder="$t('E-mail address *')"
        >
        <button
            @click="submit"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24"><path d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z"/></svg>
        </button>
    </form>
</template>

<script>
    import ValidationMessages from 'theme/components/core/blocks/Form/ValidationMessages'
    import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus'
    import Subscribe from '@vue-storefront/core/modules/newsletter/mixins/Subscribe'
    import i18n from '@vue-storefront/i18n'

    export default {
        name: "Newsletter",
        mixins: [
            SubscriptionStatus, Subscribe
        ],
        components: {
            ValidationMessages
        },
        beforeDestroy () {
            this.$off('validation-error')
        },
        methods: {
            onSuccesfulSubmission (isSubscribed) {
                if (isSubscribed) {
                    this.$store.dispatch('notification/spawnNotification', {
                        type: 'success',
                        message: i18n.t('You have been successfully subscribed to our newsletter!'),
                        action1: { label: i18n.t('OK') }
                    })
                }
            },

            submit(e){
                e.preventDefault();
                this.$v.email.$touch();
                this.subscribe(this.onSuccesfulSubmission);
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~theme/css/variables/colors';
    @import '~theme/css/helpers/functions/color';

    form{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 0;
        padding: 0;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        width: 100%;

        @media (max-width: 1024px) and (min-width: 596px){
            max-width: 500px;
        }

        & > * {
            box-sizing: border-box;
        }

        legend{
            grid-column: 1/4;
            margin-bottom: 20px;
        }

        .validation-text{
            grid-column: 1/4;
        }

        input{
            width: 100%;
            border: 2px solid color(atlantis);
            color: white;
            border-radius: 5px;
            background: transparent;
            height: 45px;
            padding-left: 10px;
            padding-right: 60px;
            box-shadow: none;
        }

        button{
            position: relative;
            display: block;
            bottom: 0;
            right: 0;
            background: transparent;
            border: none;
            color: color(white);
            text-align: center;
            height: 45px;
            width: 50px;
            left: -50px;
        }
    }
</style>
