<template>
  <div
    class="inline-flex relative dropdown"
    data-testid="accountButton"
    @click.self="goToAccount();showMenu = true;"
    @keyup.enter="goToAccount"
    tabindex="0"
    role="button"
    @mouseover="showMenu = true"
    @mouseout="showMenu = false"
    :aria-label="$t('Open my account')"
  >
      <button v-show="currentUser" type="button" class="bg-cl-transparent brdr-none p0">
          <i class="material-icons block">account_circle</i>
      </button>

      <button class="log-in-btn" v-show="!currentUser">{{$t('Log in')}}</button>

    <no-ssr>

      <div v-show="currentUser" :class="['dropdown-content bg-cl-primary align-left sans-serif lh20 weight-400', !showMenu ? 'dropdown-content__hidden' : '']">
        <div class="py5">
          <div v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
            <router-link @click.native="showMenu = false" class="no-underline block py10 px15" :to="localizedRoute(page.link)">
              {{ page.title }}
            </router-link>
          </div>
        </div>
        <div class="py5 brdr-top-1 brdr-cl-bg-secondary">
          <a href="#" class="no-underline block py10 px15" @click.prevent="logout">
            {{ $t('Logout') }}
          </a>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
    import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon'

export default {
  name: "Account",
  extends: AccountIcon

}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);

.dropdown {

  button {
    pointer-events: none;
  }

    .log-in-btn{
        display: block;
        border: none;
        border-radius: 5px;
        background-image: linear-gradient(to top, #8cc73e 0%, #8acdc4 100%);
        color: color(white);
        padding: 3px 15px;
        text-transform: capitalize;
    }

    &:focus,
    &:hover {
        .log-in-btn{
            outline: none;
            background-image: linear-gradient(to top, #8acdc4  0%, #8cc73e 100%);
        }
    }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 160px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  a {
    opacity: .6;

    &:hover,
    &:focus {
      background-color: $color-icon-hover;
      opacity: 1;
    }

  }

  @media (min-width: 768px) {
    &:hover .dropdown-content:not(.dropdown-content__hidden),
    &:focus .dropdown-content:not(.dropdown-content__hidden) {
      display: block;
    }

    &:focus-within {

      .dropdown-content:not(.dropdown-content__hidden) {
        display: block;
      }
    }
  }
}
</style>
