<template>
    <div class="desktop-header">
        <TopHeader/>
        <div class="main">
            <Logo height="41px" width="auto"/>
            <SearchInput/>
            <PhoneSection/>
        </div>
        <Navigation/>
    </div>

</template>

<script>
    import Logo from 'theme/components/theme/Logo'
    import SearchInput from './Search'
    import PhoneSection from './PhoneSection'
    import TopHeader from './TopHeader'
    import Navigation from './Navigation'

    export default {
        name: "DesktopHeader",
        components: {
            Logo,
            SearchInput,
            PhoneSection,
            TopHeader,
            Navigation
        }
    }
</script>

<style lang="scss" scoped>
    .desktop-header{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-rows: auto auto auto;
        grid-template-columns: 100%;
    }

    .desktop-header .main{
        display: grid;
        grid-template-columns: fit-content(250px) 1fr fit-content(450px);
        grid-column-gap: 3%;
        grid-template-rows: auto;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        padding: 0 calc(50% - 640px);
        height: 80px;
        box-sizing: border-box;

        @media (max-width: 1310px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
</style>
