<template>
    <div class="header">
        <header
            class="fixed w-100 brdr-bottom-1 bg-cl-primary brdr-cl-secondary"
            :class="{ 'is-visible': navVisible }"
        >

            <DesktopHeader v-if="isDesktop"/>

            <div class="container px15" v-if="!isDesktop">
                <div class="row between-xs middle-xs" v-if="!isCheckoutPage || isThankYouPage">
                    <div class="col-md-4 col-xs-2 middle-xs">
                        <div>
                            <hamburger-icon class="p15 icon bg-cl-secondary pointer" />
                        </div>
                    </div>
                    <div class="col-xs-2 visible-xs">
                        <search-icon class="p15 icon pointer" />
                    </div>
                    <div class="col-md-4 col-xs-4 center-xs pt5">
                        <div>
                            <logo width="53px" height="41px" />
                        </div>
                    </div>
                    <div class="col-xs-2 visible-xs">
                        <wishlist-icon class="p15 icon pointer" />
                    </div>
                    <div class="col-md-4 col-xs-2 end-xs">
                        <div class="inline-flex right-icons">
                            <search-icon class="p15 icon hidden-xs pointer" />
                            <wishlist-icon class="p15 icon hidden-xs pointer" />
                            <compare-icon class="p15 icon hidden-xs pointer" />
                            <microcart-icon class="p15 icon pointer" />
                            <account-icon class="p15 icon hidden-xs pointer" />
                        </div>
                    </div>
                </div>
                <div class="row between-xs middle-xs px15 py5" v-if="isCheckoutPage && !isThankYouPage">
                    <div class="col-xs-5 col-md-3 middle-xs">
                        <div>
                            <router-link
                                :to="localizedRoute('/')"
                                class="cl-tertiary links"
                            >
                                {{ $t('Return to shopping') }}
                            </router-link>
                        </div>
                    </div>
                    <div class="col-xs-2 col-md-6 center-xs">
                        <logo width="41px" height="41px" />
                    </div>
                    <div class="col-xs-5 col-md-3 end-xs">
                        <div>
                            <a
                                v-if="!currentUser"
                                href="#"
                                @click.prevent="gotoAccount"
                                class="cl-tertiary links"
                            >{{ $t('Login to your account') }}</a>
                            <span v-else>{{ $t('You are logged in as {firstname}', currentUser) }}</span>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <div class="header-placeholder" />
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import CurrentPage from 'theme/mixins/currentPage'
    import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon'
    import CompareIcon from 'theme/components/core/blocks/Header/CompareIcon'
    import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon'
    import Logo from 'theme/components/theme/Logo'
    import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon'
    import SearchIcon from 'theme/components/core/blocks/Header/SearchIcon'
    import WishlistIcon from 'theme/components/core/blocks/Header/WishlistIcon'
    import DesktopHeader from './DesktopHeader'
    import debounce from "theme/helpers/debounce";

    export default {
        name: 'Header',
        components: {
            AccountIcon,
            CompareIcon,
            HamburgerIcon,
            Logo,
            MicrocartIcon,
            SearchIcon,
            WishlistIcon,
            DesktopHeader
        },
        mixins: [CurrentPage],
        data () {
            return {
                navVisible: true,
                isScrolling: false,
                scrollTop: 0,
                lastScrollTop: 0,
                navbarHeight: 54,
                isDesktop: false,
                desktopBreakpoint: 767,
            }
        },
        computed: {
            ...mapState({
                isOpenLogin: state => state.ui.signUp,
                currentUser: state => state.user.current
            }),
            isThankYouPage () {
                return this.$store.state.checkout.isThankYouPage
                    ? this.$store.state.checkout.isThankYouPage
                    : false
            }
        },
        beforeMount () {
            window.addEventListener(
                'scroll',
                () => {
                    this.isScrolling = true
                },
                { passive: true }
            )

            setInterval(() => {
                if (this.isScrolling) {
                    this.hasScrolled()
                    this.isScrolling = false
                }
            }, 250)
        },
        mounted(){
            this.checkIsDesktop();
            window.addEventListener('resize', this.resizeHandler, { passive: true })
        },
        destroyed(){
            window.removeEventListener('resize', this.resizeHandler);
        },
        methods: {
            gotoAccount () {
                this.$bus.$emit('modal-toggle', 'modal-signup')
            },
            hasScrolled () {
                this.scrollTop = window.scrollY
                if (
                    this.scrollTop > this.lastScrollTop &&
                    this.scrollTop > this.navbarHeight
                ) {
                    this.navVisible = false
                } else {
                    this.navVisible = true
                }
                this.lastScrollTop = this.scrollTop
            },

            /**
             * check is desktop
             *
             * @returns {boolean}
             */
            checkIsDesktop(){
                let windowWidth = +window.innerWidth;
                let flag = (this.desktopBreakpoint < windowWidth);
                if (this.isDesktop !== flag){
                    this.isDesktop = flag;
                }

                this.navbarHeight = (flag) ? 250 : 54;

                return flag;
            },

            resizeHandler: debounce(function(){
                this.checkIsDesktop();
            }, 50)
        }
    }
</script>

<style lang="scss" scoped>
    @import '~theme/css/variables/colors';
    @import '~theme/css/helpers/functions/color';
    $color-icon-hover: color(secondary, $colors-background);

    header {
        height: 54px;
        top: -55px;
        z-index: 3;
        transition: top 0.2s ease-in-out;
        &.is-visible {
            top: 0;
        }

        @media (min-width: 768px) {
            height: 150px;
            top: -251px;
        }
    }
    .icon {
        opacity: 0.6;
        &:hover,
        &:focus {
            background-color: $color-icon-hover;
            opacity: 1;
        }
    }
    .right-icons {
        //for edge
        float: right;
    }
    .header-placeholder {
        height: 54px;

        @media (min-width: 768px) {
            height: 150px;
        }
    }
    .links {
        text-decoration: underline;
    }
    @media (max-width: 767px) {
        .row.middle-xs {
            margin: 0 -15px;

            &.py5 {
                margin: 0;
            }
        }
        .col-xs-2:first-of-type {
            padding-left: 0;
        }
        .col-xs-2:last-of-type {
            padding-right: 0;
        }
        a,
        span {
            font-size: 12px;
        }
    }
</style>
