
<template>
    <button
        type="button"
        class="relative bg-cl-transparent brdr-none inline-flex"
        @click="openMicrocart"
        data-testid="openMicrocart"
        :aria-label="$t('Open microcart')"
    >
        <span class="btn-title">{{$t('Shopping cart')}}</span>
        <i class="material-icons">shopping_cart</i>
        <span
            class="minicart-count absolute flex center-xs middle-xs border-box py0 px2 h6 lh16 weight-700 cl-white bg-cl-silver"
            v-cloak
            v-show="totalQuantity"
            data-testid="minicartCount"
        >
      {{ totalQuantity }}
    </span>
    </button>
</template>


<script>
    import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon'
    export default {
        name: "Microcart",
        extends: MicrocartIcon
    }
</script>

<style scoped>
    /* rewrite prototype css */
</style>

<style lang="scss">
    @import '~theme/css/variables/colors';
    @import '~theme/css/helpers/functions/color';

    .minicart-count {
        top: -4px;
        right: 0;
        min-width: 16px;
        min-height: 16px;
        border-radius: 10px;
        background: color(atlantis);
    }

    .icon{
        color: color(white);
    }

    .btn-title{
        margin-right: 10px;
    }
</style>
