<template>
    <nav class="header-nav">
        <router-link v-for="category in visibleCategories" :key="category.slug" :to="categoryLink(category)" >
            {{ category.name }}
        </router-link>
        <router-link :to="localizedRoute('/thx')" >
            {{ $t('Thanks page') }}
        </router-link>
    </nav>
</template>

<script>
    import SubCategory from 'theme/components/core/blocks/SidebarMenu/SubCategory';
    import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers';
    import SidebarMenu from '@vue-storefront/core/compatibility/components/blocks/SidebarMenu/SidebarMenu'

    export default {
        name: "Navigation",
        mixins: [SidebarMenu],
        components: {
            SubCategory
        },
        methods: {
            categoryLink (category) {
                return formatCategoryLink(category)
            }
        },
        computed: {
            visibleCategories () {
                return this.categories.filter(category => {
                    return category.product_count > 0 || category.children_count > 0
                })
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import '~theme/css/variables/colors';
    @import '~theme/css/helpers/functions/color';

    .header-nav{
        display: grid;
        padding: 0 calc(50% - 640px);
        grid-auto-flow: column;
        background: color(iron);
        box-sizing: border-box;

        a{
            position: relative;
            display: inline-block;
            text-align: center;
            line-height: 35px;
            display: inline-block;
            text-transform: uppercase;
            list-style: none;
            &:hover{
                &:after{
                    background: color(dove-gray);
                    height: 2px;
                }
                text-decoration: none;
            }
        }
    }
</style>
