<template>
    <div class="search-input">
        <i class="material-icons">{{ $t('search') }}</i>
        <input type="search" ref="search" v-on:keyup.enter="openSearchpanel"
               id="search" v-model="search" placeholder="Zoek in het assortiment ">
        <button @click="openSearchpanel">search</button>
    </div>
</template>

<script>

    import SearchPanel from '@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel'

    export default {
        name: "Search",
        mixins: [SearchPanel],
        mounted(){
            this.search = '';
        },
        watch: {
            isOpen(newValue) {
                if (newValue === false) {
                    this.search = localStorage.getItem(`shop/user/searchQuery`);
                }
            }
        },

        methods: {
            openSearchpanel () {
                localStorage.setItem(`shop/user/searchQuery`, this.search ? this.search : '');
                this.$store.commit('ui/setSearchpanel', true);
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '~theme/css/variables/colors';
    @import '~theme/css/helpers/functions/color';

    .search-input {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;

        .material-icons{
            position: absolute;
            color: color(dove-gray);
            font-size: 20px;
            left: 10px;
            line-height: 48px;
            margin: auto;
            transform: scale(-1, 1);
        }

        input{
            border:1px solid color(atlantis);
            border-radius: 5px 0 0 5px;
            padding: 0 15px 0 35px;

            &:focus{
                box-shadow: 0 0 10px 0 rgba(color(atlantis), 0.4);
            }
        }

        button{
            border-radius: 0 5px 5px 0;
            border: 1px solid color(atlantis);
            background: color(atlantis);
            color: color(white);
            text-transform: capitalize;
            font-weight: bold;
            padding: 0 15px;
            box-sizing: border-box;
        }
    }
</style>
