<template>
    <div class="top-header">
        <Account class="icon pointer" />
        <Microcart class="icon pointer" />
    </div>
</template>

<script>
    import Microcart from './Microcart'
    import Account from './Account'

    export default {
        name: "TopHeader",
        components: {
            Microcart,
            Account
        },
    }
</script>

<style lang="scss" scoped>
    @import '~theme/css/variables/colors';
    @import '~theme/css/helpers/functions/color';

    .top-header{
        width: 100%;
        box-sizing: border-box;
        height: 35px;
        background: color(dove-gray-v2);
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
        justify-content: flex-end;
        align-items: center;
        padding: 0 calc(50% - 640px);
    }
</style>
